*.avi
*.mp4
*.jpg
*.png
*.PNG
*.pt
*.pth
*.txt

*.pb
*:Zone.Identifier

TestDetectron/output
TestDetectron/test
TestDetectron/train
TestDetectron/valid

TestSeg_1/runs
TestSeg_1/dataset_1
TestSeg_1/dataset_2
TestSeg_1/image_input
TestSeg_1/video_input